---

---

<form action="api/send" class="flex flex-col space-y-5 w-full p-10  border-[1px] lg:border-[3px] border-charcoal shadow-[2px_2px_#282b31] lg:shadow-[3px_3px_#282b31] rounded-[40px]">
      <label>
        Name
        <input type="text" id="name" name="name" class="bg-gray-300" required />
      </label>
      <label>
        Email
        <input type="email" id="email" name="email" class="bg-gray-300" required />
      </label>
      <label>
        Message
        <textarea id="message" name="message" class="bg-gray-300" required />
      </label>
      <button class="bg-green-600">Send</button>
       
    </form>