---
import Section from "../Section.astro"
import SectionHeading from "../SectionHeading.astro"
import CareerForm from "./CareerForm.astro"
---

<Section additionalClasses="pt-10 lg:pt-10 flex flex-col lg:flex-row space-y-10 lg:space-y-0 lg:justify-between">
<div class="flex flex-col space-y-5 lag:space-y-8">
    <SectionHeading text="Sound like a good fit?"/>
    <p class="text-[17px] lg:tex-xl text-charcoal/80">Send us your CV and a quick note about yourself at <a href="#" class="text-emerald">careers@gaotogo.uk</a>, or use the form to apply.</p>
</div>
<div>
    <CareerForm/>     
</div>
</Section>