---
import Section from '../Section.astro'
import H1 from '../H1.astro'
import { Image } from 'astro:assets'
import displayImage from '../../images/hero-image.jpg'
import BigPara from '../BigPara.astro'  
---

<Section width="w-full" additionalClasses="flex flex-col space-y-5 lg:space-y-10">
            <div class="max-w-300 mx-auto w-full">
                <H1 text="A Taste of Vietnam, Made for the Go"/>
            </div>
            <Image src={displayImage} alt="About Us Image" width={1020} format='avif' class="lg:w-[calc((100%+1200px)/2)] object-cover w-full aspect-video lg:h-[720px] rounded-[24px] lg:rounded-[0px] lg:rounded-r-[80px]" />
            
            <div class="max-w-300 mx-auto w-full lg:flex lg:justify-end">
                <BigPara text="Gạo To Go is where tradition meets tempo —bringing the fresh, bold flavours of Vietnam to fast-moving lives in the UK." width="max-w-190"/>
            </div>
        </Section>