---
import Section from "../Section.astro"
import SectionHeading from "../SectionHeading.astro"
import BigPara from "../BigPara.astro"
---

<Section additionalClasses="pb-10 lg:pb-10">
    <div class="max-w-196 mx-auto flex flex-col space-y-6 lg:space-y-8">
        <SectionHeading text="Real Vietnamese Flavour. No Fuss." />
        <div class="flex flex-col space-y-[18px] lg:space-y-6">
            <BigPara text="We serve authentic Vietnamese meals, cooked fresh in high-spec kitchens and delivered hot to our city pick-up points." />
            <BigPara text="We serve authentic Vietnamese meals, cooked fresh in high-spec kitchens and delivered hot to our city pick-up points." />
        </div>
    </div>
</Section>