---
import Section from "../Section.astro"
import SectionHeading from "../SectionHeading.astro"

const processes = [
    {
        icon: '/icons/soup.png',
        alt: 'simmering soup bowl icon',
        text: 'Broths simmer slow.'
    },
    {
        icon: '/icons/mortar.png',
        alt: 'herbs in mortar icon',
        text: 'Herbs are added fresh.'
    },
    {
        icon: '/icons/flavoring.png',
        alt: 'sprinkling salt icon',
        text: 'Flavours run deep.'
    }
]

---

<Section width="w-full" additionalClasses="bg-coral">

    <div class="max-w-300 mx-auto flex flex-col space-y-10 lg:space-y-13 items-center lg:items-start">
        <SectionHeading text="We don’t cut corners" />
        <ul class="w-full flex flex-col space-y-8 lg:space-y-0 lg:flex-row lg:justify-between">
            {processes.map(process => (
                <li class="flex flex-col space-y-3 lg:space-y-4 items-center lg:items-start">
                    <img src={process.icon} alt={process.alt} class="w-20 h-20"/>
                    <p class="font-medium text-charcoal/80 text-[18px] lg:text-6">{process.text}</p>
                </li>
            ))}
        </ul>
    </div>
   
</Section>