---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import SectionHeading from '../components/SectionHeading.astro'
import Section from '../components/Section.astro'
import { Image } from 'astro:assets'
import aboutImage2 from '../images/hero-image.jpg'
import Bubble from '../components/Bubble.astro'
import H1 from '../components/H1.astro'
import FounderStatement from '../components/about/FounderStatement.astro'
import BrandStatement from '../components/about/BrandStatement.astro'
import Process from '../components/about/Process.astro'
import BrandOverview from '../components/about/BrandOverview.astro'
import Ticker from '../components/Ticker.astro'
import BrandMoto from '../components/about/BrandMoto.astro'


---

<Layout title="Our Story | Gạo To Go">
	<main>
        <div class="pt-30 lg:pt-60 pb-5 lg:pb-22 bg-saffron lg:bg-rice">
           <div class="px-5 lg:px-0 lg:max-w-300 mx-auto">
             <Bubble text="Gạo To Go was born out of a simple idea,"/>
             <H1 text="Why should busy lives miss out on real food?" width="lg:w-[890px]" additionalClasses="lg:ml-12 text-emerald" />
             
           </div>
        </div>
        <FounderStatement />
        <BrandStatement />
        <Process />
        <BrandOverview />
        <Ticker />
        <BrandMoto />


	</main>
</Layout>