---
interface Props {
    text: string;
    margin?:string;
    additionalClasses?: string;
}
const { text, margin="mb-4 lg:mb-5", additionalClasses="" } = Astro.props;
---

<div class={`${margin} ${additionalClasses}`}>
    <span class=" font-secondary font-medium tracking-wide text-[12px] lg:text-[16px] text-charcoal/80 px-3 py-[6px] lg:px-4 lg:py-2 border-[1px] lg:border-[3px] border-charcoal shadow-[2px_2px_#282b31] lg:shadow-[3px_3px_#282b31] rounded-[12px]">{text}</span>
</div>