---
import Dropdown from "./Dropdown.astro"
---

<nav class="hidden lg:flex items-center text-rice text-xl tracking-wide font-primary space-x-8">        
    <a href="#" class="hover:text-coral 0">Menu</a>
    <Dropdown />
    <a href="#" class="hover:text-coral">Locations</a>
    <a href="/about" class="hover:text-coral">Our Story</a>
    <a href="#" class="hover:text-coral">Nutrition</a>
</nav>